[submodule "cookbooks/netatalk"]
	path = cookbooks/netatalk
	url = git://github.com/jtimberman/netatalk.git
[submodule "cookbooks/sabnzb"]
	path = cookbooks/sabnzb
	url = https://github.com/agh-cookbooks/sabnzbd
